In [1]:
import pandas as pd

In [2]:
lines_df = pd.read_csv('simpsons_dataset.csv')
lines_df = lines_df.dropna()
characters = lines_df['raw_character_text'].values
lines = lines_df['spoken_words'].values

In [18]:
lines_df.head()

        raw_character_text                                       spoken_words
0              Miss Hoover  No, actually, it was a little of both. Sometim...
1             Lisa Simpson                             Where's Mr. Bergstrom?
2              Miss Hoover  I don't know. Although I'd sure like to talk t...
3             Lisa Simpson                         That life is worth living.
4  Edna Krabappel-Flanders  The polls will be open from now until the end ...

In [20]:
homer_lines_df = lines_df[lines_df['raw_character_text'] == 'Homer Simpson']

In [21]:
homer_lines_df.head()

   raw_character_text                                       spoken_words
57      Homer Simpson  Never thrown a party? What about that big bash...
58      Homer Simpson  Bart didn't get one vote?! Oh, this is the wor...
62      Homer Simpson                                                Oh.
64      Homer Simpson                                               And?
66      Homer Simpson  Hey, just because I don't care doesn't mean I ...